[Unit]
Description=TESStractor reader
Requires=network.target

[Service]
ExecStart=%h/.local/bin/tesstractor -c %h/config.ini

[Install]
WantedBy=default.target
